<head></head>
<body>
<h1 class="section-title">Our Menu</h1>
<p class="paragraph-color">Explore our exquisite menu, crafted with love and tailored for every occasion.</p>
<%= render 'menu' %>
</body>
