<div class="parallax-home">
  <div class="hero-background">
    <div class="hero-text">
      <h2>African Queen Kitchen</h2>
    </div>
  </div>
</div>

<!-- Card Section -->
<div class="cards container">
  <div class="card home hero-image-2">
  </div>

  <div class="info-card">
    <p> Learn more about us and why we do what we do!</p>
      <a href="<%= about_path %>" class="btn btn-primary">About Us</a>
  </div>

  <div class="info-card">
    <p>Our extensive menu suited for all kinds of events!</p>
    <a href="<%= menus_path %>" class="btn btn-primary">Menus</a>
  </div>

  <div class="card home hero-image-3">
  </div>

  <div class="card home hero-image-4">
  </div>

  <div class="info-card">
    <p>Ready to order with us? Here we can work out the details of your order.</p>
    <a href="<%= new_order_path %>" class="btn btn-primary">Inquire</a>
  </div>

  <div class="info-card">
    <p>Check out what our clients are saying about us!</p>
    <a href="<%= reviews_path %>" class="btn btn-primary">Reviews</a>
  </div>

  <div class="card home hero-image-5">
  </div>
</div>
