<h1>African Queen Kitchen</h1>
<hr>

<div class="parallax-home">
</div>

<!-- Card Section -->
<div class="cards container">
  <div class="card home hero-image-2">
    <div class="hero-text">
      <p>Check out our different menus suited for all kinds of different catering events!</p>
      <a href="<%= menus_path %>" class="btn btn-primary">Menus</a>
    </div>
  </div>

  <div>
    Holding Space
  </div>

  <div>
    Holding Space
  </div>

  <div class="card home hero-image-3">
    <div class="hero-text">
      <p>Here check out what our clients are saying about us!</p>
      <a href="<%= reviews_path %>" class="btn btn-primary">Reviews</a>
    </div>
  </div>

    <div class="card hero-image-4">
      <div class="hero-text">
        <p>Here is where you can take your orders and work out the details of your order.</p>
        <a href="<%= new_order_path %>" class="btn btn-primary">Inquire</a>
      </div>
    </div>

    <div>
      Holding Space
    </div>

    <div>
      Holding Space
    </div>

    <div class="card home hero-image-5">
      <div class="hero-text">
        <p> If you want to know more about us and why we do what we do click here.</p>
        <button class="btn btn-primary">About Us</button>
      </div>
    </div>
</div>