<!-- This div contains the dish name, quantity, 
and the total price (price of dish * quantity) -->

<div class="container mt-4">
  <ul class="list-group">
    <% @order_dishes.each do |order_dish| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>Dish Name:</strong> <%= order_dish.dish.title %>
        </div>

        <div>
          <strong>Quantity:</strong> <%= order_dish.quantity %>
        </div>

        <div>
          <span class="badge bg-primary"><strong>Total Cost:</strong> <%= number_to_currency(order_dish.price) %></span>
        </div>

        <div>
          <!-- Delete Button -->
          <% if @order.status == "Order Creation" %>
            <%= button_to "Delete", [order_dish.order, order_dish], method: :delete, data: { confirm: "Are you sure you want to delete this dish?" } %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>



