<h1>Order History</h1>

<div> 
    <% @orders.each do |order| %>
        <%= render order %>
        <p><%= link_to "Show this order", order%></p>
    <% end %> 
</div>

<p><%= link_to "New Order", new_order_path %></p>