<h1>Order Page</h1>
<%= render @order %>

<h2>Dishes in this Order</h2>
<%= render 'dish' %>

<% if @order.status === 'Order Creation' %>
    <%= render 'order_dishes/form', order: @order %>
<% end %>

