<div class="container mt-5">
    <h1 class="text-center mb-4">Order Page</h1> <hr>
    <!-- Renders order details -->
    <div class="card shadow-sm mb-4">
        <div class="card-body">
        <%= render @order %>
        </div>
    </div>

    <hr>
    <h3 class="text-center mb-4">Dishes in this Order</h3>

    <!-- Renders the dishes in the order -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <%= render 'dish' %>
    </div>

    <% if @invoice.invoice_status == "Payment Pending" && @order.status != "canceled" %>
        <div class="text-center mt-4">
        <%= link_to "Pay Now", pay_path(@order), target: "_blank", class: "btn btn-success btn-lg" %>
        </div>
    <% elsif @invoice.invoice_status == "Paid" %>
        <div class="alert alert-success mt-4 text-center" role="alert">
        This order has been completed!
        </div>
    <% elsif @invoice.invoice_status == "draft" %>
        <div class="alert alert-warning mt-4 text-center" role="alert">
            Thanks for ordering! An invoice will be create and sent via email from Stripe when the order has been approved. Please check back in "My Orders" tab to manually check if your order has been accepted. Approval usually takes around 2 to 3 business days
        </div>
    <% else  %>
        <div class="alert alert-warning mt-4 text-center" role="alert">
            This order has been cancelled. Thank you for your understanding.
        </div>
  <% end %>
 
  
</div>


