.about-page {
    background-color: #2f1045; // Royal Purple Background
    color: #fff;
  
    h1, h2 {
      color: #ffd700; // Gold Text
    }
  
    .text-warning {
      color: #ffd700 !important;
    }
  
    hr {
      border: none;
    }
  }
  