<h1 >African Queen Kitchen Reviews</h1>

<div class="container">
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-4 mb-4" id="r1">
        <!-- Custom Review Card -->
        <div class="review-thumbnail custom-card">
          <p class="review-text">
            “<%= review.comment %>”
            <br><br>
            <strong><%= review.user.name %></strong>
          </p>
          <p class="rating">
            Rating: <%= review.rating %> / 5
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-3 text-center">
    <%= link_to 'Write a Review', new_review_path, class: 'btn btn-primary' %>
  </div>
</div>
