<h1>All Reviews</h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      Rating: <%= review.rating %> - Comment: <%= review.comment %>
    <% if user_signed_in? %>
        <%= link_to 'Show Details', review_path(review) %>
    <% end %>

    </li>
  <% end %>
</ul>

<%= link_to 'Write a Review', new_review_path %>