<h1>Reviews</h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to review.dish.title, review_path(review) %> - Rating: <%= review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to 'Write a Review', new_dish_review_path(@dish) %>